/* CSS Document */

* {
  margin: 0 auto;
  padding: 0;
}

.slogan {
  /*奋力打造我国网信产业核心力量和组织平台*/
  float: inherit;
  width: 1200px;
  height: 45px;
  margin: 0 auto;
  padding: 80px 0;
  font-size: 30px;
  text-align: center;
  letter-spacing: 10px;
  font-family: "microsoft yahei";
  color: #8B8F99;
}

.entrance {
  width: 1280px;
  height: 940px;
  margin: 0 auto;
}

.entrance .weblink {
  display: inline-block;
  width: 400px;
  height: 300px;
  border-radius: 20px;
  position: relative;
  z-index: 0;
  cursor: pointer;
  margin: 10px;
  overflow: hidden;
  box-shadow:rgba(0,0,0,.2)  0 1px 5px 0px;
}

.entrance .weblink_b {
  display: inline-block;
  width: 810px;
  height: 600px;
  border-radius: 20px;
  position: relative;
  z-index: 0;
  cursor: pointer;
  margin: 10px;
  overflow: hidden;
}

.entrance .weblink_m {
  display: inline-block;
  width: 400px;
  height: 600px;
  border-radius: 20px;
  position: relative;
  z-index: 0;
  cursor: pointer;
  margin: 10px;
  overflow: hidden;
}

.entrance img {
  height: 100%;
  width: 100%;
}

.deepcolor {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 20;
  opacity: 0.8;
  background: #000000;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(transparent), to(#000));
  background: -webkit-linear-gradient(transparent, #000);
  background: -moz-linear-gradient(transparent, #000);
  background: -ms-linear-gradient(transparent, #000);
  background: -o-linear-gradient(transparent, #000);
  background: linear-gradient(transparent, #000);
  -pie-background: linear-gradient(transparent, #000);
}

.hoverblue {
  width: 100%;
  height: 100%;
  background: rgba(13, 39, 77, 9);
  position: absolute;
  z-index: 30;
  opacity: 0.0;
}

/*动画*/

/*蓝色变深*/

.weblink:hover .deepcolor, .weblink_b:hover .deepcolor, .weblink_s:hover .deepcolor {
  opacity: 0;
  transition: all 0.3s ease-in;
}

/*黑色变浅*/

.weblink:hover .hoverblue, .weblink_b:hover .hoverblue, .weblink_s:hover .hoverblue {
  opacity: 0.8;
  transition: all 0.3s ease-in;
}


/*入口文字属性*/

.weblink_txt {
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 30px;
  letter-spacing: 5px;
  font-family: "幼圆";
  text-align: left;
  line-height: 40px;
  position: absolute;
  top: 240px;
  left: 20px;
  z-index: 40;
}
.weblink_b .weblink_txt, .weblink_m .weblink_txt {
  position: absolute;
  top: 540px;
  left: 20px;
  z-index: 40;
}
.weblink:hover .weblink_txt {
  position: absolute;
  top: 140px;
  left: 20px;
  transition: all 0.2s ease-in-out;
}
.weblink_b:hover .weblink_txt,
.weblink_m:hover .weblink_txt {
  position: absolute;
  top: 440px;
  left: 20px;
  transition: all 0.2s ease-in-out;
}
.weblink:hover .weblink_txt5, 
.weblink:hover .weblink_txt4{
  position: absolute;
  top: 170px;
  left: 20px;
  transition: all 0.2s ease-in-out;
}




/*入口介绍标签平移动画*/
.introduce{
  position: absolute;
  top: 180px;
  left: 20px;
  z-index: 100;
}
.introduce_m,.introduce_b{
  position: absolute;
  top: 480px;
  left: 20px;
  z-index: 100;
}
.introduce_5,.introduce_4{
  position: absolute;
  top: 210px;
  left: 20px;
  z-index: 100;
}
.introduce{
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 20px;
  letter-spacing: 0px;
  font-family: "幼圆";
  text-align: left;
  line-height: 30px;
}
.introduce p{
  margin-top: 5px;
  transform: translate(-200px);
}
.weblink_m:hover .introduce p,
.weblink_b:hover .introduce p,
.weblink:hover .introduce p {
  transform: translate(0);
  transition: all 0.4s ease-in-out;
}
.weblink_m:hover .introduce p:nth-of-type(1),
.weblink_b:hover .introduce p:nth-of-type(1),
.weblink:hover .introduce p:nth-of-type(1) {
  transition-delay: 0.1s;
}
.weblink_m:hover .introduce p:nth-of-type(2),
.weblink_b:hover .introduce p:nth-of-type(2),
.weblink:hover .introduce p:nth-of-type(2) {
  transition-delay: 0.15s;
}
.weblink_m:hover .introduce p:nth-of-type(3),
.weblink_b:hover .introduce p:nth-of-type(3),
.weblink:hover .introduce p:nth-of-type(3) {
  transition-delay: 0.2s;
}









.news {
  /******新闻中心  big box*****/
  width: 100%;
  height: 950px;
}

.newsCH {
  /*新闻中心 中文标题*/
  padding: 150px 0 22px 0;
  font-size: 35px;
  color: #000;
  text-align: center;
}

.news .newsEN {
  /*新闻中心 英文标题*/
  padding: 0 0 95px 0;
  font-size: 18px;
  color: #999;
  text-align: center;
}


 /***轮播部分的big box****/
.news .newscontent {
  margin: 0 auto;
  width: 1200px;
  height: 450px;
  background-color: #999999;
  overflow: hidden;
}

.zhutu {
  /*轮播 big box 中的图片*/
  float: left;
  width: 50%;
  height: 100%;
  overflow: hidden;
}
.zhutu img {
  height: 100%;
}


  /*    轮播功能区    */
/* .slideshow {
  float: right;
  width: 50%;
  height: 100%;
  overflow: hidden;
} */

.slideshow {
  float: left;
  width: 100%;
  height: 100%;
  overflow: hidden;
}











/*******轮播*******/

/*body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}*/



ul.slides{
  position: relative;
  width: 100%;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #eee;
  overflow: hidden;
}

li.slide {
  margin: 0;
  padding: 0;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  font-family: Helvetica;
  font-size: 28px;
  color: #ffffff;
  transition: .5s transform ease-in-out;
}

.slide_img{
  margin: 0;
  padding: 0;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

/* .slide .slide_font {
  margin-top: 20%;
  margin-left: 20px;
  margin-right: 20px
} */

.slide_txt{
  margin: 0;
  padding: 0;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  overflow: hidden;
}
.slide_txt p{
  cursor:text;
}
.slide_txt p:nth-of-type(1){
  display: block;
  margin-top: 100px;
  margin-left: 50px;
  font-size: 28px;
  letter-spacing: 2px;
}
.slide_txt p:nth-of-type(2){
  display: block;
  margin-top: 60px;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 26px;
}
.slide:nth-of-type(1) {
  background-color: #3651a2;
}

.slide:nth-of-type(2) {
  background-color: #3651a2;
  left: 100%;
}

.slide:nth-of-type(3) {
  background-color: #3651a2;
  left: 200%;
}

input[type="radio"] {
  position: relative;
  z-index: 100;
  display: none;
}

.controls-visible {
  position: absolute;
  width: 100%;
  bottom: 12px;
  text-align: center;
}

.controls-visible label {
  display: inline-block;
  width: 20px;
  height: 14px;
  background-color: #797979;
  margin: 0 10px;
  border: 1px solid #ffffff;
  border-radius: 7px;
  cursor: pointer;
}

/*轮播按钮*/

.slides input[type="radio"]:nth-of-type(1):checked~.controls-visible label:nth-of-type(1) {
  background-color:#ffffff;
}

.slides input[type="radio"]:nth-of-type(2):checked~.controls-visible label:nth-of-type(2) {
  background-color: #ffffff;
}

.slides input[type="radio"]:nth-of-type(3):checked~.controls-visible label:nth-of-type(3) {
  background-color: #ffffff;
}

/*轮播按钮*/

.slides input[type="radio"]:nth-of-type(1):checked~.slide {
  transform: translatex(0%);
}

.slides input[type="radio"]:nth-of-type(2):checked~.slide {
  transform: translatex(-100%);
}

.slides input[type="radio"]:nth-of-type(3):checked~.slide {
  transform: translatex(-200%);
}

/* Left/Right Button Classes Below */

.navigator {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  width: 100%;
  z-index: 100;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  display: none;
}

.navigator i {
  font-size: 32px;
  color: #333;
}

.slides input[type="radio"]:nth-of-type(1):checked~.navigator:nth-of-type(1) {
  display: flex;
}

.slides input[type="radio"]:nth-of-type(2):checked~.navigator:nth-of-type(2) {
  display: flex;
}

.slides input[type="radio"]:nth-of-type(3):checked~.navigator:nth-of-type(3) {
  display: flex;
}

a {
  text-decoration: none;
}

.navb {
  list-style: none;
  color: #fff;
}












 /*      合作伙伴 big box */
.cooperative {
  width: 100%;
  height: auto;
}

.cooperative .cooperativeCH {
  padding: 140px 0 22px 0;
  font-size: 35px;
  color: #000;
  text-align: center;
}
.cooperative .cooperativeEN {
  padding: 0;
  font-size: 18px;
  color: #999;
  text-align: center;
}
  /*    合作伙伴 底图部分    */
.cooperative .cooperativecontent {
  margin: 0 auto;
  width: 1600px;
  height: 1050px;
  overflow: hidden;
}
.cooperativecontent img {
  margin: 0 auto;
  width: 100%;
  height: auto;
}


.attention {
  margin: 0 auto;
  width: 1920px;
  height: 50px;
  background-color: #fff;
}
.attention .attentionus {
  float: left;
  widows: 10%;
  height: 100%;
  font-weight: normal;
  font-size: 35px;
  font-family: "microsoft yahei";
  letter-spacing: 5px;
  line-height: 50px;
  margin: 0 50px;
  color: rgb(0, 0, 0);
}

.icon ul {
  float: left;
}
.icon li {
  float: left;
  margin: 0 10px;
  list-style: none;
  cursor: pointer;
}
.bottom {
  width: 100%;
  height: 350px;
  background-color: rgb(47, 0, 255);
}